html, body {
	font-family: 'Recursive', sans-serif;
	height: 90%
}
.dsm-logo {
	height: 100%;
	background-image: url("dsm.png");
	background-repeat: no-repeat;
	background-position: center;
	transform-style: preserve-3d;
}
.title {
	font-weight: 700;
	margin: 0;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.subtitle {
	color: darkslategray;
	font-weight: 400;
	margin: 0;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}